<!--BREAD CRUMBS-->
<div class="grid p-fluid mb-2">
    <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-3 w-full">
        <p-card class="col-12 md:col-12 lg:col-12 ">

            <div class="flex flex-column md:flex-row gap-3 align-items-center justify-content-between">
                <div class="flex align-items-left justify-content-center">
                    <i class="pi pi-home mr-2 mt-1"></i> {{ 'pages.dashboard.title' | translate }}
                </div>
                <div class="flex align-items-right ">
                    <p-tag styleClass="p-mr-2" con="pi pi-exclamation-triangle" severity="warning"
                        value="{{ 'global.demo-message' | translate }}"></p-tag>
                </div>
                <div class="flex align-items-center md:align-items-right text-center">
                    <button (click)="display=true" pButton pRipple type="button"
                        class="p-button bg-primary p-component p-button-text text-white text-center align-items-center "><i
                            class="pi pi-qrcode mr-2"></i>{{ 'global.add' | translate }}</button>
                </div>
            </div>


        </p-card>


    </div>
</div>


<div class="grid p-fluid mb-2">
    <!--PROFILO AZIENDALE-->
    <div class="col-12 md:col-6">


        <div class="card" style="border-radius: 0px;">
            <div class="grid p-fluid mb-2">
                <div class="col-6">
                    <i class="pi pi-id-card mr-2"></i> <b>{{
                        'pages.dashboard.cards.profile' | translate }}</b>
                </div>
                <div class="col-6 text-right">

                </div>
            </div>
            <p-divider></p-divider>




            <div class="grid flex p-fluid mb-2">
                <!--IMMAGINE-->

                <div class="col-12 md:col-5">
                    <div class="row">
                        <div class="col-12 flex justify-content-center align-items-center">
                            <img *ngIf="user.image" src="//{{user.image}}" style="max-height:150px;">
                        </div>
                    </div>
                </div>
                <!--DATI-->
                <div class="col-12 md:col-7 flex flex-column text-center">
                    <span>
                        <h4>{{ companyName.value }}</h4>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!--BRAND-->
    <div class="col-12 md:col-6">
        <div class="card" style="border-radius: 0px;">
            <div class="grid p-fluid mb-2">
                <div class="col-6">
                    <i class="pi pi-box mr-2"></i> <b>{{
                        'pages.dashboard.cards.brand' | translate }}</b>
                </div>
                <div class="col-6 text-right">
                    <i class="pi pi-plus mr-2"></i> <b>{{ 'global.new_brand' | translate }}</b>
                </div>

            </div>
            <p-divider></p-divider>

            <!--BRAND LIST-->
            <div class="flex m-0 h-16 w-full items-center justify-between rounded-sm  bg-white px-2 md:pr-4 md:pl-2 my-1"
                style="border-color: rgb(203, 213, 225);">
                <div class="flex min-w-0 items-center gap-2">
                    <img alt="Brand image" src="assets/brand_test.jpg" width="50" height="50" decoding="async"
                        loading="lazy" class="p-2"
                        style="color: transparent;max-height:50px;border-style: solid !important;border-color: rgb(21, 91, 176);border-width: 3px;">
                    <a [routerLink]="['/elabel/']" class="truncate font-semibold xl:text-base"
                        href="javascript:void(0)">Sasso di Luna</a>

                </div>

                <div class="flex shrink-0 flex-row flex-wrap items-center gap-1 md:my-0 md:gap-2">

                    <p-button icon="pi pi-pencil" pTooltip="Modifica Brand"
                        styleClass="p-button-sm p-button-outlined p-button-secondary"
                        [routerLink]="['/elabel/']"></p-button>
                    <p-button icon="pi pi-qrcode" pTooltip="QrCode"
                        styleClass="p-button-sm p-button-outlined p-button-secondary"
                        [routerLink]="['/elabel/' ]"></p-button>
                    <p-button icon="pi pi-plus" pTooltip="Nuova E-Label"
                        styleClass="p-button-sm p-button-outlined p-button-secondary"
                        [routerLink]="['/elabel/' ]"></p-button>
                </div>
            </div>

            <p-divider></p-divider>
            <div class="flex m-0 h-16 w-full items-center justify-between rounded-sm  bg-white px-2 md:pr-4 md:pl-2 my-1"
                style="border-color: rgb(203, 213, 225);">
                <div class="flex min-w-0 items-center gap-2">
                    <img alt="Brand image" src="assets/brand_test.jpg" width="50" height="50" decoding="async"
                        loading="lazy" class="p-2"
                        style="color: transparent;max-height:50px;border-style: solid !important;border-color: rgb(110, 19, 57);border-width: 3px;">
                    <a [routerLink]="['/elabel/']" class="truncate font-semibold xl:text-base"
                        href="javascript:void(0)">Sasso di Mare</a>

                </div>

                <div class="flex shrink-0 flex-row flex-wrap items-center gap-1 md:my-0 md:gap-2">

                    <p-button icon="pi pi-pencil" pTooltip="Modifica Brand"
                        styleClass="p-button-sm p-button-outlined p-button-secondary"
                        [routerLink]="['/elabel/']"></p-button>
                    <p-button icon="pi pi-qrcode" pTooltip="QrCode"
                        styleClass="p-button-sm p-button-outlined p-button-secondary"
                        [routerLink]="['/elabel/' ]"></p-button>
                    <p-button icon="pi pi-plus" pTooltip="Nuovo E-Label"
                        styleClass="p-button-sm p-button-outlined p-button-secondary"
                        [routerLink]="['/elabel/' ]"></p-button>
                </div>
            </div>

        </div>
    </div>



    <!--ELABEL LIST-->
    <div class="col-12">
        <div class="card" style="border-radius: 0px;">
            <div class="grid p-fluid mb-2">
                <div class="col-12">
                    <i class="pi pi-qrcode mr-2"></i> <b>E-Label</b>
                </div>

            </div>

            <p-tabView orientation="left" class="p-0">
                <p-tabPanel header="{{ 'pages.dashboard.cards.label' | translate }}" class="line-height-3 p-0 m-0 mb-3">

                    <div *ngFor="let label of labels"
                        class="flex m-0 h-16 w-full items-center justify-between rounded-sm border border-solid bg-white px-2 md:pr-4 md:pl-2 my-1"
                        style="border-color: rgb(203, 213, 225);">

                        <div class="flex min-w-0 items-center gap-2">

                            <!--BRAND-->
                            <img alt="Brand image" src="assets/brand_test.jpg" width="50" height="50" decoding="async"
                                loading="lazy" class="p-2"
                                style="color: transparent;max-height:50px;border-style: solid !important;border-color: rgb(110, 19, 57);border-width: 3px;">

                            <img *ngIf="!label.sub_image" alt="Product image preview"
                                src="assets/placeholder_bottle.webp" width="50" height="50" decoding="async"
                                loading="lazy" class="p-2" style="color: transparent;">
                            <img *ngIf="label.sub_image" alt="Product image preview" src="https://{{label.sub_image}}"
                                width="50" height="50" decoding="async" loading="lazy" class="p-2"
                                style="color: transparent;max-height:50px">
                            <a [routerLink]="['/elabel/' + label.id]" class="truncate font-semibold xl:text-base"
                                href="javascript:void(0)">{{label.product_name}}</a><span *ngIf="label.sku!=''">- {{label.sku}}</span>
                            <div class="ml-1 hidden md:block">
                                <span *ngIf="label.status==''"><p-tag severity="warning" value="Bozza"></p-tag></span>
                                <span *ngIf="label.status!=''"><p-tag severity="success" value="Pubblicato"></p-tag></span>
                            </div>
                        </div>

                        <div class="flex shrink-0 flex-row flex-wrap items-center gap-1 md:my-0 md:gap-2">

                            <p-button icon="pi pi-pencil" pTooltip="Modifica"
                                styleClass="p-button-sm p-button-outlined p-button-secondary"
                                [routerLink]="['/elabel/' + label.id]"></p-button>
                            <p-button icon="pi pi-qrcode" pTooltip="QrCode"
                                styleClass="p-button-sm p-button-outlined p-button-secondary"
                                [routerLink]="['/elabel/' + label.id]"></p-button>
                            <p-button icon="pi pi-copy" pTooltip="Duplica"
                                styleClass="p-button-sm p-button-outlined p-button-secondary"
                                [routerLink]="['/elabel/' + label.id]"></p-button>
                        </div>

                    </div>
                    <div class="container ng-star-inserted flex align-content-center justify-content-center"
                        *ngIf="labels.length == 0">
                        <div class="flex flex-column align-content-center justify-content-center">
                            <div class="flex align-content-center justify-content-center"> <i class="pi pi-apple"></i>
                            </div>
                            <div class="flex align-content-center justify-content-center">{{
                                'pages.dashboard.cards.label' | translate }}</div>
                            <div class="flex align-content-center justify-content-center">
                                <button (click)="display=true" pButton pRipple type="button"
                                    class="p-button bg-primary p-component p-button-text text-white"><i
                                        class="pi pi-plus"></i>{{ 'global.add' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="{{ 'pages.dashboard.cards.published' | translate }} (0)" class="line-height-3 m-0">
                    <div *ngFor="let label of labels"
                        class="flex m-0 h-16 w-full items-center justify-between rounded-sm border border-solid bg-white px-2 md:pr-4 md:pl-2 my-1"
                        style="border-color: rgb(203, 213, 225);">

                        <div class="flex min-w-0 items-center gap-2">

                            <img *ngIf="!label.sub_image" alt="Product image preview"
                                src="assets/placeholder_bottle.webp" width="50" height="50" decoding="async"
                                loading="lazy" class="p-2" style="color: transparent;">
                            <img *ngIf="label.sub_image" alt="Product image preview" src="https://{{label.sub_image}}"
                                width="50" height="50" decoding="async" loading="lazy" class="p-2"
                                style="color: transparent;max-height:50px">
                            <a [routerLink]="['/elabel/' + label.id]" class="truncate font-semibold xl:text-base"
                                href="javascript:void(0)">{{label.product_name}}</a>
                            <div class="ml-1 hidden md:block">
                                <span *ngIf="label.status==''"><p-tag severity="warning" value="Bozza"></p-tag></span>
                                <span *ngIf="label.status!=''"><p-tag severity="success" value="Bozza"></p-tag></span>
                            </div>
                        </div>

                        <div class="flex shrink-0 flex-row flex-wrap items-center gap-1 md:my-0 md:gap-2">

                            <p-button icon="pi pi-pencil" pTooltip="Modifica"
                                styleClass="p-button-sm p-button-outlined p-button-secondary"
                                [routerLink]="['/elabel/' + label.id]"></p-button>
                            <p-button icon="pi pi-qrcode" pTooltip="QrCode"
                                styleClass="p-button-sm p-button-outlined p-button-secondary"
                                [routerLink]="['/elabel/' + label.id]"></p-button>
                            <p-button icon="pi pi-copy" pTooltip="Duplica"
                                styleClass="p-button-sm p-button-outlined p-button-secondary"
                                [routerLink]="['/elabel/' + label.id]"></p-button>
                        </div>

                    </div>
                    <div class="container ng-star-inserted flex align-content-center justify-content-center"
                        *ngIf="labels.length == 0">
                        <div class="flex flex-column align-content-center justify-content-center">
                            <div class="flex align-content-center justify-content-center"> <i class="pi pi-apple"></i>
                            </div>
                            <div class="flex align-content-center justify-content-center">{{
                                'pages.dashboard.cards.label' | translate }}</div>
                            <div class="flex align-content-center justify-content-center">
                                <button (click)="display=true" pButton pRipple type="button"
                                    class="p-button bg-primary p-component p-button-text text-white"><i
                                        class="pi pi-plus"></i>{{ 'global.add' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="{{ 'pages.dashboard.cards.draft' | translate }} (0)" class="line-height-3 m-0">
                    <div *ngFor="let label of labels"
                        class="flex m-0 h-16 w-full items-center justify-between rounded-sm border border-solid bg-white px-2 md:pr-4 md:pl-2 my-1"
                        style="border-color: rgb(203, 213, 225);">

                        <div class="flex min-w-0 items-center gap-2">

                            <img *ngIf="!label.sub_image" alt="Product image preview"
                                src="assets/placeholder_bottle.webp" width="50" height="50" decoding="async"
                                loading="lazy" class="p-2" style="color: transparent;">
                            <img *ngIf="label.sub_image" alt="Product image preview" src="https://{{label.sub_image}}"
                                width="50" height="50" decoding="async" loading="lazy" class="p-2"
                                style="color: transparent;max-height:50px">
                            <a [routerLink]="['/elabel/' + label.id]" class="truncate font-semibold xl:text-base"
                                href="javascript:void(0)">{{label.product_name}}</a>
                            <div class="ml-1 hidden md:block">
                                <span *ngIf="label.status==''"><p-tag severity="warning" value="Bozza"></p-tag></span>
                                <span *ngIf="label.status!=''"><p-tag severity="success" value="Bozza"></p-tag></span>
                            </div>
                        </div>

                        <div class="flex shrink-0 flex-row flex-wrap items-center gap-1 md:my-0 md:gap-2">

                            <p-button icon="pi pi-pencil" pTooltip="Modifica"
                                styleClass="p-button-sm p-button-outlined p-button-secondary"
                                [routerLink]="['/elabel/' + label.id]"></p-button>
                            <p-button icon="pi pi-qrcode" pTooltip="QrCode"
                                styleClass="p-button-sm p-button-outlined p-button-secondary"
                                [routerLink]="['/elabel/' + label.id]"></p-button>
                            <p-button icon="pi pi-copy" pTooltip="Duplica"
                                styleClass="p-button-sm p-button-outlined p-button-secondary"
                                [routerLink]="['/elabel/' + label.id]"></p-button>
                        </div>

                    </div>
                    <div class="container ng-star-inserted flex align-content-center justify-content-center"
                        *ngIf="labels.length == 0">
                        <div class="flex flex-column align-content-center justify-content-center">
                            <div class="flex align-content-center justify-content-center"> <i class="pi pi-apple"></i>
                            </div>
                            <div class="flex align-content-center justify-content-center">{{
                                'pages.dashboard.cards.label' | translate }}</div>
                            <div class="flex align-content-center justify-content-center">
                                <button (click)="display=true" pButton pRipple type="button"
                                    class="p-button bg-primary p-component p-button-text text-white"><i
                                        class="pi pi-plus"></i>{{ 'global.add' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

</div>


<p-dialog header="{{ 'pages.dashboard.cards.label' | translate }}" [(visible)]="display" [modal]="true"
    showEffect="fade" [style]="{'width': '40vw' , 'background-color':'#213B8D!important'}"
    [breakpoints]="{'960px': '75vw'}">
    <div class="line-height-3 m-0">
        <div class="flex flex-column">
            <div class="flex flex-column col-12 p-0">
                <div *ngIf="false">
                    <label for="name" class="block text-900 text-xl font-medium mb-2">{{ 'pages.elabel.form.id' |
                        translate }}</label>
                    <input type="text" pInputText [formControl]="id" required autofocus />
                </div>
                <div>
                    <label for="name" class="block text-900 text-xl font-medium mb-2">{{
                        'pages.elabel.form.productName' | translate }}</label>
                    <input type="text" pInputText [formControl]="name" required autofocus class="w-full" />
                </div>
                <div *ngIf="false">
                    <label for="sku" class="block text-900 text-xl font-medium mb-2">{{
                        'pages.elabel.form.sku.label' | translate }}</label>
                    <input type="text" pInputText [formControl]="sku" required />
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="submit()" label="{{ 'global.save' | translate }}"
            class="p-button-outlined"></button>
    </ng-template>
</p-dialog>