 <app-menu></app-menu>
<!--FEEDBACK-->
<!-- <div class="col-12 md:col-6">
    <div class="card" style="border-radius: 0px;">
        <div class="grid p-fluid mb-2">
            <div class="col-12">
                <i class="pi pi-id-card mr-2"></i> <b>{{
                    'pages.dashboard.cards.feedback.title' | translate }}</b>
            </div>

        </div>
        <p-divider></p-divider>

        <div
            class="flex flex-column md:flex-row gap-2 align-items-center justify-content-between text-center mb-3 w-full">
            <div class="field-radiobutton col-4">
                <p-radioButton [formControl]="radio"></p-radioButton>
                <label for="category1">{{ 'pages.dashboard.cards.feedback.tab1' | translate }}</label>
            </div>
            <div class="field-radiobutton col-4">
                <p-radioButton [formControl]="radio"></p-radioButton>
                <label for="category2">{{ 'pages.dashboard.cards.feedback.tab2' | translate }}</label>
            </div>
            <div class="field-radiobutton col-4">
                <p-radioButton [formControl]="radio"></p-radioButton>
                <label for="category3">{{ 'pages.dashboard.cards.feedback.tab3' | translate }}</label>
            </div>
        </div>

        <textarea rows="5" cols="30" placeholder="Your Message" pinputtextarea=""
            class="p-inputtextarea p-inputtext p-component p-element"></textarea>
        <div
            class="flex flex-column md:flex-row gap-2 align-items-end justify-content-end text-center mb-3 mt-3 w-full">

            <p-button label="{{ 'global.send' | translate }}" icon="pi pi-check"></p-button>
        </div>
    </div>
</div> -->