<p-toast key="tst"></p-toast>


<div class="grid">
    <div class="col-12 md:col-3">
        <!--  <div class="flex flex-column mb-5 gap-5" *ngIf="edit">
            <div class="flex align-items-center">
                <img *ngIf="user.image" src="//{{user.image}}" style="max-height:150px;">
                <p-fileUpload mode="basic" name="image" chooseIcon="pi pi-upload"
                    url="https://app.eulabel.it/backend/profile/{{user.id}}" accept="image/*" maxFileSize="1000000"
                    [auto]="true" (onUpload)="onBasicUpload()" chooseLabel="Browse" />
            </div>
        </div> -->

        <div class="grid flex flex-wrap">
            <div class="col-12 mt-0 flex justify-content-center align-items-center">
                <img *ngIf="!user.image" src="assets/icona-immagine.jpg" style="width:150px;height:auto">
                <img *ngIf="user.image" src="//{{user.image}}" style="max-height:150px;">
            </div>
            <div class="col-12">
                <p-fileUpload mode="basic" name="image" chooseIcon="pi pi-upload"
                    url="https://app.eulabel.it/backend/profile/{{user.id}}" accept="image/*" maxFileSize="1000000"
                    [auto]="true" (onUpload)="onBasicUpload()" chooseLabel="Browse" />
            </div>
        </div>



    </div>
    <div class="col-12 md:col-9">
        <div class="grid">
            <div class="col-6">
                <label for="name">{{ 'pages.register.name' | translate}}</label>
                <input [formControl]="form.get('name')" type="text" placeholder="Name" pInputText
                    style="padding:1rem">
            </div>
            <div class="col-6">
                <label for="surname">{{ 'pages.register.surname' | translate}}</label>
                <input [formControl]="form.get('surname')" type="text" placeholder="Surname" pInputText
                    style="padding:1rem">
            </div>
            <div class="col-12">
                <label for="company_name">{{ 'pages.register.company' | translate}}</label>
                <input [formControl]="form.get('company_name')" type="text" placeholder="Good wine srl" pInputText
                    style="padding:1rem">
            </div>
            <div class="col-12 md:col-9">
                <label for="address">{{ 'pages.register.address' |
                    translate}}</label>
                <input [formControl]="form.get('address')" type="text" placeholder="Street main 1" pInputText
                    style="padding:1rem">
            </div>

            <div class="col-12 md:col-3">
                <label for="cap">{{ 'pages.register.cap' | translate}}</label>
                <input [formControl]="form.get('cap')" type="text" placeholder="00000" pInputText style="padding:1rem">
            </div>
            <div class="col-12 md:col-4">
                <label for="locality">{{ 'pages.register.locality' |
                    translate}}</label>
                <input [formControl]="form.get('locality')" type="text" placeholder="localita" pInputText
                    style="padding:1rem">
            </div>

            <div class="col-12 md:col-4">
                <label for="pr">{{ 'pages.register.pr' | translate}}</label>
                <input [formControl]="form.get('pr')" type="text" placeholder="SI" pInputText style="padding:1rem">
            </div>
            <div class="col-12 md:col-4">
                <label for="state">{{ 'pages.register.state' | translate}}</label>
                <input [formControl]="form.get('state')" type="text" placeholder="Italy" pInputText
                    style="padding:1rem">
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="grid">
            <div class="col-12 md:col-4">
                <label for="phone">{{ 'pages.register.phone' | translate}}</label>
                <input [formControl]="form.get('phone')" type="text" placeholder="+39000000000" pInputText
                    style="padding:1rem">
            </div>
            <div class="col-12 md:col-4">
                <label for="email">{{ 'pages.register.email' | translate}}</label>
                <input [formControl]="form.get('email')" type="text" placeholder="goodwine@gmail.com" pInputText
                    style="padding:1rem">
            </div>
            <div class="col-12 md:col-4">
                <label for="website">{{ 'pages.register.website' |
                    translate}}</label>
                <input [formControl]="form.get('website')" type="text" placeholder="www.goodwine.it" pInputText
                    style="padding:1rem">
            </div>
        </div>

    </div>
    <div class="col-12">
        <div class="grid">
            <div class="col-12 md:col-6">
                <label for="piva">{{ 'pages.register.piva' | translate}}</label>
                <input [formControl]="form.get('piva')" type="text" placeholder="11359591002" pInputText
                    style="padding:1rem">
            
                
            </div>
            <div class="col-12 md:col-6">
                <label for="sdi" >{{ 'pages.register.sdi' | translate}}</label>
                <input [formControl]="form.get('sdi')" type="text" placeholder="0000000" pInputText 
                    style="padding:1rem">
            </div>
        </div>

    </div>
    <p-divider></p-divider>
    <div class="col-12">
        <div class="grid">
            <div class="col-12 md:col-6">
                <label for="username">{{ 'pages.register.username' |
                    translate}}</label>
                <input [formControl]="form.get('username')" type="text" placeholder="Good wine" pInputText
                    style="padding:1rem">
            </div>
            <div class="col-12 md:col-6">
                <label for="password">{{ 'pages.register.password' |
                    translate}}</label>
                    <p-password [formControl]="form.get('password')" [toggleMask]="true" />
              <!--   <input [formControl]="form.get('password')" type="password" placeholder="******" pInputText
                     style="padding:1rem"> -->
            </div>
        </div>

    </div>
    
    <div class="col-12 flex justify-content-end gap-3">
        <p-button label="{{ 'pages.register.save' | translate}}" (click)="save()" />
</div>
</div>