<section>
    <div class="outside-border">
        <div class="silencer"></div>
        <div class="volume-up"></div>
        <div class="volume-down"></div>
        <div class="button-on"></div>
        <div class="inside-border">

            <!-- Camera -->

            <div class="camera">
                <div class="camera-dot">
                    <div class="camera-dot-2"></div>
                    <div class="camera-dot-3"></div>
                </div>
                <div class="camera-speaker">
                </div>
            </div>

            <!-- Lock -->

            <div class="lock">
                <div class="grid p-2">
                    <div class="col-12">
                        <div *ngIf="form.get('product_name').value">
                            <span class="head_title">{{form.get('product_name').value}}</span>
                        </div>
                    </div>
                    <!--IMMAGINE PRODOTTO -->
                    <div class="col-12" style="margin-bottom:-25px;z-index: 1;" *ngIf="sub_image">
                        <div class="grid">
                            <div class="col"></div>
                            <div class="col-5 text-center" style="background-color: white">
                                <img src="https://{{sub_image}}" class="image-fluid">
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <!--BANDA COLORATA-->

                    <div class="col-12 pt-3"
                        [ngStyle]="{'background-color':(primary_color!='') ? primary_color : 'black' }">



                        <div class="grid">

                            <div class="col-12  align-items-center justify-content-between text-center text-white">
                                <p class="mb-0 info mt-2">{{companyName}}</p>
                                <b>{{form.get('product_name').value}}</b><br>
                                <b *ngIf="form.get('vintage_year').value">{{form.get('vintage_year').value | date :
                                    'Y'}}</b>
                            </div>
                            <div class="col"></div>
                            <div class="col-8 text-center" style="background-color: white">
                                <span *ngIf="form.get('type').value" class="info">
                                    {{getType(form.get('type').value) | translate}}
                                </span>
                                <span *ngIf="form.get('net_content').value" class="info">
                                    • {{form.get('net_content').value}} ml
                                </span>
                                <span *ngIf="form.get('alcohol_content_percentage').value" class="info">
                                    • {{form.get('alcohol_content_percentage').value}} % vol.
                                </span>


                            </div>
                            <div class="col"></div>

                        </div>

                    </div>
                </div>

                <!--INGREDIENTI-->
                <div class="grid p-2 mt-1">
                    <div class="col-12 text-center py-0 my-0">
                        <div class="grid">
                            <div class="col-12">
                                <p class="titolo mb-2"
                                    [ngStyle]="{'color':(primary_color!='') ? primary_color : 'black' }">{{
                                    'pages.ingredients.title' |
                                    translate }}</p>
                                <ng-container *ngIf="form.get('ingredients').value" class="m0 p0">
                                    <p class="info mb-0" *ngFor="let ingredient of form.get('ingredients').value">
                                        {{ingredient.label | translate}}
                                    </p>
                                </ng-container>
                                <p class="info mt-2" *ngIf="form.get('packages').value">
                                    <i>{{getPackages(form.get('packages').value) | translate}}</i>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <p-divider></p-divider>

                <!--TABELLA NUTRIZIONALE-->
                <div class="grid p-2 m-0 py-0">
                    <div class="col-12">
                        <div class="grid text-center">
                            <div class="col-12 mt-0 py-0 mb-2">
                                <p class="titolo mb-2"
                                    [ngStyle]="{'color':(primary_color!='') ? primary_color : 'black' }">{{
                                    'pages.nutritions.title' | translate }}</p>
                            </div>
                        </div>
                        <div style="background-color: rgb(0, 0, 0 , 0.05);" class="col-12 px-1 py-1">
                            <table style="width: 100%;" border="1" class="info">
                                <tbody>
                                    <tr style="border-bottom:1px;border-style: dotted;"
                                        [ngStyle]="{'border-color:':(primary_color!='') ? primary_color : 'black' }">
                                        <td class="pl-1">Valori medi</td>
                                        <td class="text-right pr-1">per 100ml</td>
                                        <td *ngIf="show_portion" class="text-right pr-1">per porzione <span
                                                style="font-size:0.6rem">(500ml)</span></td>
                                    </tr>
                                    <tr>
                                        <td class="pl-1"><b>{{ 'pages.nutritions.energy_kj' | translate }}</b></td>
                                        <td class="text-right pr-1">{{form.get('energy_kj').value}}</td>
                                        <td *ngIf="show_portion" class="text-right pr-1">25</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-3">{{ 'pages.nutritions.energy_kcal' | translate }}</td>
                                        <td class="text-right pr-1">{{form.get('energy_kcal').value}}</td>
                                        <td *ngIf="show_portion" class="text-right pr-1">25</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-1"><b>{{ 'pages.nutritions.fat' | translate }}</b></td>
                                        <td class="text-right pr-1">{{form.get('fat').value}}</td>
                                        <td *ngIf="show_portion" class="text-right pr-1">25</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-3">{{ 'pages.nutritions.fat_sat' | translate }}</td>
                                        <td class="text-right pr-1">{{form.get('fat_sat').value}}</td>
                                        <td *ngIf="show_portion" class="text-right pr-1">25</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-1"><b>{{ 'pages.nutritions.carb' | translate }}</b></td>
                                        <td class="text-right pr-1">{{form.get('carb').value}}</td>
                                        <td *ngIf="show_portion" class="text-right pr-1">25</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-3">{{ 'pages.nutritions.carb_sugar' | translate }}</td>
                                        <td class="text-right pr-1">{{form.get('carb_sugar').value}}</td>
                                        <td *ngIf="show_portion" class="text-right pr-1">25</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-1"><b>{{ 'pages.nutritions.protein' | translate }}</b></td>
                                        <td class="text-right pr-1">{{form.get('protein').value}}</td>
                                        <td *ngIf="show_portion" class="text-right pr-1">25</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-1"><b>{{ 'pages.nutritions.salt' | translate }}</b></td>
                                        <td class="text-right pr-1">{{form.get('salt').value}}</td>
                                        <td *ngIf="show_portion" class="text-right pr-1">25</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <!-- DivTable.com -->
                        <!-- <div class="mt-3 mx-1 text-sm">Contiene quantità trascurabili di Sale, Acidi grassi saturi,
                            Proteine, Grassi.
                        </div> -->
                    </div>
                </div>
                <p-divider></p-divider>
                <!--RICICLO-->
                <div class="grid p-2">
                    <div class="col-12 text-center py-0 my-0">

                        <div class="grid">
                            <div class="col-12 flex-column flex">
                                <p class="titolo mb-2"
                                    [ngStyle]="{'color':(primary_color!='') ? primary_color : 'black' }">{{
                                    'pages.recycling.title_preview' |
                                    translate }}</p>
                                <div>
                                    <p class="info"><i>{{ 'pages.recycling.description_preview' | translate }}</i></p>
                                    CONTENITORI
                                    <ng-container *ngIf="form.get('rules').value">
                                        <span class="info" *ngFor="let rule of form.get('rules').value">
                                            {{getContainer(rule.recycling_rule_containers_id).label | translate}}
                                        </span><br>
                                    </ng-container>
                                </div>
                                <div>
                                    MATERIALI
                                    <ng-container *ngIf="form.get('rules').value">
                                        <span class="info" *ngFor="let rule of form.get('rules').value">
                                            {{getMaterial(rule.recycling_rule_materials_id).label | translate}}
                                        </span><br>
                                    </ng-container>
                                </div>





                            </div>

                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <!--CONSUMO RESPONSABILE-->
                <div class="grid p-2">
                    <div class="col-12 text-center py-0 my-0">
                        <div class="grid">
                            <div class="col-12 mb-0">
                                <p class="titolo mb-2"
                                    [ngStyle]="{'color':(primary_color!='') ? primary_color : 'black' }">{{
                                    'pages.recycling.sub.title' |
                                    translate }}</p>
                            </div>
                            <div class="col-12 mt-0 pt-0">
                                <div class="flex justify-content-center flex-wrap">
                                    <div *ngIf="form.get('drive').value"
                                        class="flex align-items-center justify-content-center w-4rem h-4rem  m-2"><img
                                            src="https://firebasestorage.googleapis.com/v0/b/label-scan-1c165.appspot.com/o/public%2FresponsibleConsumption%2Fdriving.svg?alt=media&amp;token=9190dac0-4b69-4535-bb4e-c893665a8467"
                                            alt="Don't Drink and Drive"></div>

                                    <div *ngIf="form.get('pregnant').value"
                                        class="flex align-items-center justify-content-center w-4rem h-4rem  m-2"><img
                                            src="https://firebasestorage.googleapis.com/v0/b/label-scan-1c165.appspot.com/o/public%2FresponsibleConsumption%2Fpregnant.svg?alt=media&amp;token=bae940be-54fd-4437-93f4-4ed6e8fc0644"
                                            alt="Pregnancy"></div>
                                    <div *ngIf="form.get('age').value"
                                        class="flex align-items-center justify-content-center w-4rem h-4rem  m-2"><img
                                            src="https://firebasestorage.googleapis.com/v0/b/label-scan-1c165.appspot.com/o/public%2FresponsibleConsumption%2Funderage.svg?alt=media&amp;token=ff71068d-93fc-42ec-9fd5-0c0a5cb799d0"
                                            alt="Underaged Consumption"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                  <!--INFO SOSTENIBILTà-->
                  <div class="grid p-2">
                    <div class="col-12 text-center py-0 my-0">
                        <div class="grid">
                            <div class="col-12 mb-0">
                                <p class="titolo mb-2"
                                    [ngStyle]="{'color':(primary_color!='') ? primary_color : 'black' }">{{
                                    'pages.sustainability.title' |
                                    translate }}</p>
                            </div>
                            <div class="col-12 mt-0 pt-0">
                                <div class="grid">
                                    <div class="col-12 text-center info">
                                        {{form.get('sustainibility_bio').value}}
                                    </div>
                                    <div class="col-12 text-center info" *ngIf="form.get('type').value">
                                        {{form.get('sustainibility_message').value}}
                                    </div>
                                    

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <!--INFO PRODOTTO-->
                <div class="grid p-2">
                    <div class="col-12 text-center py-0 my-0">
                        <div class="grid">
                            <div class="col-12 mb-0">
                                <p class="titolo mb-2"
                                    [ngStyle]="{'color':(primary_color!='') ? primary_color : 'black' }">{{
                                    'pages.info_prodotto.title' |
                                    translate }}</p>
                            </div>
                            <div class="col-12 mt-0 pt-0">
                                <div class="grid">
                                    <div class="col-6 text-center info">
                                        Origine<br>
                                        <b>Italia</b>
                                    </div>
                                    <div class="col-6 text-center info" *ngIf="form.get('type').value">
                                        {{ 'pages.elabel.form.type.label' | translate }}<br>
                                        <b>{{form.get('type').value}}</b>
                                    </div>
                                    <div class="col-6 text-center info"
                                        *ngIf="form.get('geographical_indication').value">
                                        {{ 'pages.elabel.form.geographical_indication.label' | translate }}<br>
                                        <b>{{form.get('geographical_indication').value}}</b>
                                    </div>
                                    <div class="col-6 text-center info" *ngIf="form.get('vintage_year').value">
                                        {{ 'pages.elabel.form.vintage_year.label' | translate }}<br>
                                        <b>{{form.get('vintage_year').value | date : 'Y'}}</b>
                                    </div>
                                    <div class="col-12 text-center info" *ngIf="form.get('product_varieties').value">
                                        {{ 'pages.elabel.form.product_varieties.label' | translate }}<br>
                                        <i>{{form.get('product_varieties').value}}</i>
                                    </div>

                                    <div class="col-12 text-center info" *ngIf="form.get('description').value">
                                        <i>{{form.get('description').value}}</i>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <!--INFO PRODUTTORE-->
                <div class="grid p-2">
                    <div class="col-12 text-center py-0 my-0">
                        <div class="grid">
                            <div class="col-12 mb-0">
                                <p class="titolo mb-2"
                                    [ngStyle]="{'color':(primary_color!='') ? primary_color : 'black' }">{{
                                    'pages.info_produttore.title' |
                                    translate }}</p>
                            </div>
                            <div class="col-12 mt-0 pt-0">
                                <div class="grid">
                                    <div class="col"></div>
                                <div class="col-4"><img src="https://{{companyLogo}}" width="100%"></div>
                                <div class="col-5"><p class="mb-0 info mt-2">{{companyName}}</p></div>
                                <div class="col"></div>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>

                <p-divider></p-divider>
                <!--FOOTER-->
                <div class="grid p-2">
                    <div class="flex justify-content-center flex-wrap">
                        <div class="flex align-items-center justify-content-center font-bold border-round m-2"><img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
                            alt="logo" style="width:30%"></div>
                    </div>

                </div>
            </div>



            <!-- Battery and Signal -->

            <div class="t-r-info">
                <div class="dots">...</div>
                <div class="battery">
                    <div class="bar"></div>
                    <div class="dot"></div>
                </div>
            </div>



            <!-- Bottom Line -->

            <div class="bottom-line"></div>

        </div>
    </div>
</section>

<!-- <div class="flex flex-column gap-2 p-4">
    <div class="flex border-1 flex-column">
        <div class="flex flex-column gap-2" *ngIf="form.get('product_name').value">
            <div><b>{{ 'pages.elabel.form.product_name.label' | translate }}</b></div>
            <div>{{form.get('product_name').value}}</div>
        </div>
        <div class="flex flex-column gap-2" *ngIf="form.get('type').value">
            <div><b>{{ 'pages.elabel.form.type.label' | translate }}</b></div>
            <div>{{form.get('type').value}}</div>
        </div>
        <div class="flex flex-column gap-2" *ngIf="form.get('vintage_year').value">
            <div><b>{{ 'pages.elabel.form.vintage_year.label' | translate }}</b></div>
            <div>{{form.get('vintage_year').value | date : 'Y'}}</div>
        </div>
        <div class="flex flex-column gap-2" *ngIf="form.get('product_varieties').value">
            <div><b>{{ 'pages.elabel.form.product_varieties.label' | translate }}</b></div>
            <div>{{form.get('product_varieties').value}}</div>
        </div>
        <div class="flex flex-column gap-2" *ngIf="form.get('geographical_indication').value">
            <div><b>{{ 'pages.elabel.form.geographical_indication.label' | translate }}</b></div>
            <div>{{form.get('geographical_indication').value}}</div>
        </div>
        <div class="flex flex-column gap-2" *ngIf="form.get('alcohol_content_percentage').value">
            <div><b>{{ 'pages.elabel.form.alcohol_content_percentage.label' | translate }}</b></div>
            <div>{{form.get('alcohol_content_percentage').value}}</div>
        </div>
        <div class="flex flex-column gap-2" *ngIf="form.get('net_content').value">
            <div><b>{{ 'pages.elabel.form.net_content.label' | translate }}</b></div>
            <div>{{form.get('net_content').value}}</div>
        </div>
        <div class="flex flex-column gap-2" *ngIf="form.get('description').value">
            <div><b>{{ 'pages.elabel.form.description.label' | translate }}</b></div>
            <div>{{form.get('description').value}}</div>
        </div>

        <h2>{{ 'pages.ingredients.title' | translate }}</h2>

        <div class="flex flex-column gap-2" *ngIf="form.get('packages').value">
            <div><b>{{ 'pages.elabel.form.packages.label' | translate }}</b></div>
            <div>{{form.get('packages').value}}</div>
        </div>


        <div class="flex flex-column gap-2" *ngIf="form.get('packages').value">
            <div><b>{{ 'pages.elabel.form.packages.label' | translate }}</b></div>
            <div>{{form.get('packages').value}}</div>
        </div>



        <h2>{{ 'pages.recycling.title' | translate }}</h2>


        <div class="w-full flex gap-2">
            <img class="w-2" *ngIf="form.get('drive').value"
                src="https://firebasestorage.googleapis.com/v0/b/label-scan-1c165.appspot.com/o/public%2FresponsibleConsumption%2Fdriving.svg?alt=media&amp;token=9190dac0-4b69-4535-bb4e-c893665a8467"
                alt="Don't Drink and Drive">
            <img class="w-2" *ngIf="form.get('pregnant').value"
                src="https://firebasestorage.googleapis.com/v0/b/label-scan-1c165.appspot.com/o/public%2FresponsibleConsumption%2Fpregnant.svg?alt=media&amp;token=bae940be-54fd-4437-93f4-4ed6e8fc0644"
                alt="Pregnancy">
            <img class="w-2" *ngIf="form.get('age').value"
                src="https://firebasestorage.googleapis.com/v0/b/label-scan-1c165.appspot.com/o/public%2FresponsibleConsumption%2Funderage.svg?alt=media&amp;token=ff71068d-93fc-42ec-9fd5-0c0a5cb799d0"
                alt="Underaged Consumption">
        </div>
        <h2>{{ 'pages.sustainability.title' | translate }}</h2>
        <div class="flex flex-column gap-2" *ngIf="form.get('sustainibility_bio').value">
            <div><b>{{ 'pages.sustainability.form.field1.label' | translate }}</b></div>
            <div>{{form.get('sustainibility_bio').value}}</div>
        </div>
        <div class="flex flex-column gap-2" *ngIf="form.get('sustainibility_message').value">
            <div><b>{{ 'pages.sustainability.form.field2.label' | translate }}</b></div>
            <div>{{form.get('sustainibility_message').value}}</div>
        </div>

    </div>
</div> -->